.contenedor
{
    border: 1px solid gray;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: gray 10px 10px;
    -moz-box-shadow: gray 10px 10px;
    -webkit-box-shadow: gray 10px 10px;
    text-align: center;
}

.t1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-shadow: rgb(0,100,0) 5px 3px 2px;
    -moz-text-shadow: rgb(0,100,0) 5px 3px 2px;
    -webkit-text-shadow: rgb(0,100,0) 5px 3px 2px;
}

.contenedor2
{
    border: 1px solid gray;
    text-align: center;
    background: linear-gradient(20deg, white, lightblue);
    background: -moz-linear-gradient(20deg, white, lightblue);
    background: -moz-linear-gradient(20deg, white, lightblue);
}


.contenedor3
{
    border: 1px solid gray;
    background: radial-gradient(top, ellipse, white 10%, lightblue 50%);
    background: -moz-radial-gradient(top, ellipse, white 10%, lightblue 50%);
    background: -webkit-radial-gradient(top, ellipse, white 10%, lightblue 50%);
}

.t3
{
    color: rgba(0,255,0,0.2);
}

.t2
{
    color: hsla(240, 100%, 80%, 0.6)
}

.contenedor4
{
    margin-top: 15px;
    text-align: center;
    border: 1px solid;
    transform: scale(0.8,3.6);
    -moz-transform: scale(0.8,3.6);
    -webkit-transform: scale(0.8,3.6);
    transform: skew(50deg);
    -moz-transform: skew(50deg);
    -webkit-transform: skew(50deg);
    transform: translate(100px, -100px);
    -moz-transform: translate(100px, -100px);
    -webkit-transform: translate(100px, -100px);
}

.contenedor5
{
    border: 1px solid darkgray;
    transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    animation: animacion 1s linear infinite;
}

@keyframes animacion
{
    0% {transform: rotate(15deg) scale(1.0); -moz-transform: rotate(15deg) scale(1.0); -webkit-transform: rotate(15deg) scale(1.0); background-color: red;}
    50% {transform: rotate(15deg) scale(0.8); -moz-transform: rotate(15deg) scale(0.8); -webkit-transform: rotate(15deg) scale(0.8); background-color: blue;}
    100% {transform: rotate(15deg) scale(1.0); -moz-transform: rotate(15deg) scale(1.0); -webkit-transform: rotate(15deg) scale(1.0); background-color: red;}

}